@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

:root {
    --primary-family: "Zen Dots", cursive;

    /* COLORS */
    --main-btn-color: #bb3131;
    --grass-color: rgb(20, 99, 20);

    /* VALUE */
    --turn-value: 10px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-family);
    color: #fff;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.wrapper__game-start {
    width: 240px;
    text-align: center;
    position: relative;
}

/* .wrapper__game-start::before{
  content: 'START GAME';
  opacity: 0.15;
  font-size: 60px;
  position: absolute;
  font-weight: 900;
  top:0;
  left: 0;
} */

.header__game-start {
    letter-spacing: 1.5px;
    font-size: 36px;
    margin-bottom: 20px;
}

.btn__game-start {
    font-family: var(--primary-family);
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    letter-spacing: 1.2px;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.btn__game-start:hover {
    color: var(--main-btn-color);
    transform: scale(1.1);
}

.wrapper__select-car {
    text-align: center;
    min-width: 500px;
    height: auto;
}

.wrapper__title h2 {
    letter-spacing: 2px;
    margin: 10px 0;
}

.btn__select-car {
    width: 150px;
    height: 150px;
    background-color: transparent;
    border: 1px solid #fff;
    overflow: hidden;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.btn__select-car img{
    height: auto;
    width: 100%;
}

.btn__select-car:hover {
    transform: scale(1.05);
}

.btn__select-car:focus {
    border: 1px solid red;
    transform: scale(1.05);
}

.inactive-button {
    pointer-events: none;
}
.inactive-button img{
    opacity: .5;
}

.btn__lets-play{
    font-family: var(--primary-family);
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    letter-spacing: 1.5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: color 0.3s ease,
    transform 0.3s ease;
}

.btn__lets-play:hover{
    color: var(--main-btn-color);
}



/* GAME BOARD */

.game-board {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--grass-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.score{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 999;

}

.roadway {
    width: 700px;
    height: 100vh;
    background-color: #000;
    position: relative;
}

.roadway::before,
.roadway::after {
    content: "";
    position: absolute;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: rgb(131, 131, 131);
    z-index: 0;
}

.roadway::before {
    left: 0;
}

.roadway::after {
    right: 0;
}

.double-solid-line {
    position: absolute;
    width: 10px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
}

.double-solid-line::before {
    content: "";
    width: 4px;
    height: 100%;
    background-color: #000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.broken-line {
    height: 100vh;
    position: absolute;
    transform: translate(-50%);
    width: 2px;
    overflow: hidden;
}

.broken-line div{
    /* animation: anim .3s infinite linear; */
    background-color: #fff;
    width: 2px;
    height: 100px;
    margin-bottom: 50px;
}

.broken-line.left-road {
    left: 25%;
}

.broken-line.right-road {
    left: 75%;
}

@keyframes anim{
    0%{
        transform: translateY(-300px);
    }
    100%{
        transform: translateY(0px);
    }
}

/* PLAYER CAR */
.car{
    position: fixed; 
    width: 100px;
    height: 210px;
    background-image: url("../img/Car.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 49% center;
    left: 0;
    bottom: 0;
    transition: transform .2s ease;
    transform-origin: center;
    /* background-color: rgba(255, 255, 255, 0.836); */
    z-index: 1;
    overflow: hidden;
}

.ride {
    animation: ride-car .8s infinite;
}

@keyframes ride-car {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.08);
    }

    100% {
        transform: scale(1);
    }
}

.turn-left {
    transform: rotate(-10deg);
}

.turn-right {
    transform: rotate(10deg);
}

.other-car {
    width: 100px;
    height: 210px;
    background-size: cover;
    
    transform: rotate(180deg);
    /* background-color: rgba(255, 255, 255, 0.856); */
    top: 0;
    position: fixed;
    overflow: hidden;
    transform-origin: center;
    /* z-index: 1; */
}

.pickup{
    background-image: url("../img/Mini_truck.png");
    background-position: 44% center;
}
.van{
    background-image: url("../img/Mini_van.png");
    background-position: 45% center;
}
.audi{
    background-image: url("../img/Audi.png");
    background-position: 49% center;
}
.taxi{
    background-image: url("../img/taxi.png");
    background-position: 47% center;
}
.truck{
    background-image: url("../img/truck.png");
}
.police{
    background-image: url("../img/Police.png");
    background-position: 49% center;
}

.hide {
    display: none;
}
